.contact-main-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    color: #FFFFFF;
}

.contact-sec-title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
}

.contact-method-text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    text-align: center;
    letter-spacing: -0.500211px;

    color: rgba(255, 255, 255, 0.7);

    padding-top: 5%;
}

.contact-method-photo{
    width: 70px;
    height: auto;
}

@keyframes iconAnimationContact {
    25% {
        transform: translateY(3px); 
      }
      75% {
        transform: translateY(-3px);
      }
}

.contact-method-grid:hover .contact-method-photo{
    animation: iconAnimation 2s ease-out forwards infinite;
}

.contact-form{
    width: 100vw;
    margin-top: 5%;
    height: 500px;
    background-color: #FFFFFF;
}

.contact-form-text-1{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 60px;
    color: #000000;
    text-align: left;
    margin-left: 5%;

}



.send-contact-button{
    padding: 10px 5px;
    margin-top: 10px;

    width: 200px;
    height: 45px;

    border: none;

    background: linear-gradient(86.94deg, #CB4937 0%, #C23477 99.4%);
    border-radius: 4px;
}

.send-contact-button:hover{
    position: relative;
    border:1.6px solid black;
}
