.footer-main-container{
    background: black;

    height: fit-content;
}

.img-logo-footer{
    height:40px;
    width: 40px;
    padding-bottom: 0%;
    margin-right: 10px;
}

.dech-typo-footer{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height:100%;
    color: #FFFFFF;
    padding-top: 0%;
    padding-right: 10%;
    margin-bottom: 0%;

}

.footer-text{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 38px;
    /* or 238% */
    text-align: center;
    letter-spacing: -0.500211px;

    color: rgba(255, 255, 255, 0.7);

    margin-right: 10%

}