.project-main-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 84px;
    color: #FFFFFF;
}

.project-sec-title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: rgba(255, 255, 255, 0.7);
}

.project-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #FFFFFF;

    padding-left: 5%;
    padding-right: 5%;
}

.project-description{
    text-align: justify;

    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}